@page
@using Microsoft.DotNet.Scaffolding.Shared.Messaging;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<center><img src="images/logo.jpg" width="400" /></center>

<table class="table">
    <thead>
        <tr>
            <th>From</th>
            <th>Subject</th>
            <th>Date/Time</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.listEmails)
        {
            <tr>
                <td>@item.emailsender</td>
                <td>
                    @if (item.emailisread.Equals("0")) {
                        <img src="images/yellow.gif" height="10pt"> 
                    } 
                    <a href="ReadEmail?emailid=@item.emailid">@item.emailsubject</a></td>
                <td>@item.emaildate</td>
                <td>
                    <form method="post" asp-page-handler="DeleteEmail" asp-route-emailid="@item.emailid">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary btn-sm" href="/ComposeMail?Sender=@User.Identity.Name">Compose New Email</a>